{% extends 'base.html' %}
{% block content %}
{% load static %}
    <header class="masthead bg-index text-white text-center py-4">
        <div class="container d-flex align-items-center flex-column pt-2">
            <h2>GTMovies</h2>
            <p>Your Ticket to Unlimited Entertainment!</p>
        </div>
    </header>
    <div class="p-3">
        <div class="container">
            <div class="row mt-3">
                <div class = "col mx-auto text-center mb-3">
                    <h4>Welcome to GTMovies!</h4>
                    <p>Welcome to our Movie Store!
                        Dive into an extensive collection of films, where you
                        can explore a wide range of genres, read insightful
                        reviews, and discover your next favorite movie.
                        Whether you’re here to browse and get recommendations
                        or share your thoughts on what you’ve watched, we’ve
                        got you covered.
                        For those who want to take the experience further,
                        create an account to purchase movies, track your
                        collection, and contribute your own reviews to help
                        others make informed choices. Join our community today
                        and enhance your movie-watching experience!
                    </p>
                    <div class="col-md-6 mx-auto mb-3 text-center">
                        <img src="{% static 'img/curtains.jpg' %}"
                            class="max-width-100"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
